@use "./variables";
@use "sass:string";

@mixin bounceShadow($color, $animation-name) {
  @keyframes #{$animation-name} {
    0% {
      box-shadow: variables.getFocusOutline($color, 3px);
    }
    20% {
      box-shadow: variables.getFocusOutline($color, 2px);
    }
    40% {
      box-shadow: variables.getFocusOutline($color, 1px);
    }
    60% {
      box-shadow: variables.getFocusOutline($color, 3px);
    }
    80% {
      box-shadow: variables.getFocusOutline($color, 4px);
    }
    100% {
      box-shadow: variables.getFocusOutline($color, 3px);
    }
  }
}

@mixin createBounce($color) {
  $animation-name: string.unique-id();

  &.bounce {
    @include bounceShadow($color, $animation-name);
    animation-name: $animation-name;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
  }
}
