@use "./typography";
@use "./variables";
@use "./animation";
@use "./outline";
@use "sass:map";

$link-color: variables.$dark-cyan;

.btn {
  @extend.input-base;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  border: none;
  transition-property: background, box-shadow, color, text-decoration, border;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  box-shadow: variables.$box-shadow;

  + .btn {
    margin-left: 15px;
  }

  &.block {
    display: block;
  }

  &.inline {
    display: inline-block;
    ~ .label {
      display: inline-block;
    }
  }

  &.link {
    color: $link-color;
    box-shadow: none;
    line-height: variables.$input-height;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
    box-shadow: none;

    &:hover, &:focus {
      text-decoration: underline;
      color: darken($link-color, 15);
    }

    &:focus {
      @include outline.createOutline($link-color);
    }
  }

  @each $name, $color in variables.$colors {
    &.#{map.get(variables.$friendly-names, $name)} {
      @include animation.createBounce($color);
      background: $color;
      position: relative;
      color: white;
      padding-left: variables.$standard-padding;
      padding-right: variables.$standard-padding;

      &:hover, &:focus {
        outline: none;
        background: darken($color, variables.$hover-darken-amount);
      }

      &:focus {
        box-shadow: outline.getFocusOutline($color, 3px);
      }

      &.outline {
        background: white;
        color: $color;
        border: 1px solid $color;
        padding-left: variables.$standard-padding - 1;
        padding-right: variables.$standard-padding - 1;

        &:hover, &:focus {
          outline: none;
          background: $color;
          color: white;
        }
      }
    }
  }
}

.btn-group {
  font-size: 0px;
  box-shadow: variables.$box-shadow;
  display: inline-block;

  .btn {
    margin: 0;
    border-radius: 0px;
    box-shadow: none;

    &:first-child {
      border-top-left-radius: variables.$standard-border-radius;
      border-bottom-left-radius: variables.$standard-border-radius;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
    }

    &:last-child {
      border-top-right-radius: variables.$standard-border-radius;
      border-bottom-right-radius: variables.$standard-border-radius;
      border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
}
