@use "./variables";
@use "./animation";
@use "./checkmark";
@use "./outline";
@use "sass:map";
@use "sass:color";

$default-color: variables.$grey;

.checkbox {
  @extend.input-base;
  margin: 0;
  cursor: pointer;
  height: variables.$checkbox-size;
  width: variables.$checkbox-size;
  background-color: white;
  border: 1px solid variables.$checkbox-color;
  border-radius: variables.$standard-border-radius;
  position: relative;
  margin-left: variables.$checkbox-position-offset;

  &:focus {
    outline: 0;
  }

  &:focus {
    &:before {
      @include outline.createOutline($default-color);
    }
  }

  &.outline {
    &:before {
      background-color: white;
    }

    &:after {
      @include checkmark.create($default-color);
    }
  }

  &:before {
    content: "";
    transition: background-color 0.2s ease-in-out;
    background-color: $default-color;
    position: absolute;
    border: 1px solid $default-color;
    border-radius: variables.$standard-border-radius;
    width: variables.$checkbox-size;
    height: variables.$checkbox-size;
    left: -(variables.$checkbox-position-offset);
    top: -(variables.$checkbox-position-offset);
    box-shadow: variables.$box-shadow;
  }

  &:after {
    content: "";
    transition: opacity 0.2s ease-in-out, border-color 0.2s ease-in-out;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    transform: translateY(-50%) rotate(45deg);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    opacity: 1;
    @include checkmark.create(white);
  }

  &:hover {
    &:before {
      background-color: color.scale($default-color, $lightness: variables.$hover-darken-amount);
    }

    &.outline {
      &:after {
        @include checkmark.create(white);
      }
    }
  }

  + .label {
    margin-left: 30px;
  }

  &:not(:checked) {
    &:after {
      opacity: 0;
    }

    &:before {
      background-color: white;
    }
  }

  @each $name, $color in variables.$colors {
    &.#{map.get(variables.$friendly-names, $name)} {
      border: 1px solid $color;

      &:before {
        border: 1px solid $color;
        background-color: $color;
      }

      &:hover {
        &:before {
          background-color: color.scale($color, $lightness: variables.$hover-darken-amount);
        }
      }

      &:not(:checked) {
        &:before {
          background-color: white;
        }
      }

      &:after {
        @include checkmark.create(white);
      }

      &:focus {
        &:before {
          @include outline.createOutline($color);
        }
      }

      &.bounce {
        &:before {
          @include animation.createBounce($color, true);
        }
      }

      &.outline {
        &:after {
          @include checkmark.create($color);
        }

        &:before {
          background-color: white;
        }

        &:hover {
          &:checked {
            &:before {
              background-color: $color;
            }

            &:after {
              @include checkmark.create(white);
            }
          }
        }
      }
    }
  }
}
