@use "./variables";

.label {
  font-family: variables.$font-family;
  font-size: variables.$input-font-size;
  margin-right: variables.$standard-padding;
  display: block;
  padding-bottom: 3px;
  font-weight: 400;

  &.inline {
    display: inline-block;

    + .select, + .input {
      display: inline-block;
    }
  }
}
