@use "./variables";

.container {
  padding: variables.$standard-padding;
  margin: variables.$standard-padding;

  & h1:first-child {
    margin-top: 0;
  }

  + .box {
    margin-top: -(variables.$standard-padding * 2);
  }
}

.box {
  padding: variables.$standard-padding * 2;
  margin: variables.$standard-padding * 2;
  background: white;
  border-radius: variables.$standard-border-radius;
  box-shadow: variables.$box-shadow;

  & h1:first-child {
    margin-top: 0;
  }
}

.row, .form-group {
  display: block;
  width: 100%;
  margin-bottom: variables.$standard-padding;
  margin-top: variables.$standard-padding;
}

hr {
  border: 1px solid variables.$light-grey;
  margin: 20px 0 20px 0;
  border-width: 1px;
}
