$red: #E1515F;
$green: #83BD4C;
$blue: #2376FB;
$grey: #9CA3AB;
$cyan: #08b2e3;
$light-grey: #F4F5F6;
$dark-cyan: #08ABD9;
$dark-grey: #9198A1;
$black: black;

$colors: (
  "red": $red,
  "green": $green,
  "blue": $blue,
  "cyan": $cyan,
  "grey": $grey
);

$friendly-names: (
  "red": "danger",
  "green": "success",
  "blue": "primary",
  "cyan": "info",
  "grey": "default"
);

$gradient-step: (100 / length($colors));

$checkbox-size: 20px;
$checkbox-color: $grey;
$checkmark-border-width: 3px;
$checkbox-position-offset: 1px;

$standard-border-radius: 4px;
$standard-padding: 15px;
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.1);
$input-height: 40px;
$input-font-size: 15px;
$hover-darken-amount: -12%;

.input-base {
  font-family: $font-family;
  height: $input-height;
  border-radius: $standard-border-radius;
  font-size: $input-font-size;
}
