@use "./styles/palette";
@use "./styles/buttons";
@use "./styles/layout";
@use "./styles/typography";
@use "./styles/variables";
@use "./styles/label";
@use "./styles/dropdown";
@use "./styles/select";
@use "./styles/input";
@use "./styles/form";
@use "./styles/checkbox";
@use "./styles/radio";

html, body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-size: 12px;
}

body {
  background: variables.$light-grey;
}
